.page-container {
  height: 100vh;
  width: 100%;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.main-layout {
  display: flex;
  flex: 1;
  height: 100%;
}

.side-menu {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  background: #FFFFFF;
}

.content {
  flex: 1;
  background-color: aqua;
  overflow-y: auto;
}